!/.gitignore
/.gradle
/bin
/.claude
/.cursor
/.openclaude
/.vscode
.cursorignore
/common/run/logs
/common/run/saves
/common/run/crash-reports
/common/build
/common/logs
/forge/run/crash-reports
/forge/run/backups
/forge/run/logs 
/forge/run/saves
/forge/build
/fabric/build
/fabric/run/data
/fabric/run/crash-reports
/fabric/run/saves
/fabric/run/logs
/.agent
*.Identifier
**/build/tmp/
**/run/logs/
**/run/usercache.json
**/.gradle/loom-cache/
vault/.obsidian/graph.json
vault/.obsidian/workspace.json
/fabric/run/logs
CLAUDE.md
.cursorignore
.gitattributes