!/.gitignore
/common/run/logs
/common/run/saves
/common/run/crash-reports
/common/build
/common/logs
/forge/run/crash-reports
/forge/run/backups
/forge/run/logs 
/forge/run/saves
/forge/build
/fabric/build
/fabric/run/data
/fabric/run/crash-reports
/fabric/run/saves
/fabric/run/logs
vault/.obsidian/graph.json
vault/.obsidian/workspace.json
CLAUDE.md
.cursorignore
.gitattributes
/.gradle
/.claude
/.cursor
/.openclaude
/.vscode
/.agent