!/.gitignore
/.gradle
/bin
/TS-RTS-master
/.claude
/.cursor
.cursorignore
/common/run/logs
/common/run/saves
/common/run/logs
/common/run/crash-reports
/forge/run/crash-reports
/common/build
/forge/run/saves
/forge/build
/fabric/build
/fabric/run/data
/fabric/run/crash-reports
/fabric/run/saves
java_pid29391.hprof
/forge/build
/common/build/tmp
/fabric/run/config/fabric
/fabric/run/logs
/forge/run/logs
/fabric/run/config/fabric
/fabric/run/logs
/common/build
/.agent
/forge/run/backups
